

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/*  ----------------------------------------------------------------------------
    TYPOGRAPHY
*/

  @font-face {
    font-family: 'gt_sectra_fineblack';
    src: url('fonts/GT-Sectra-Fine-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'gt_sectra_finemedium';
    src: url('fonts/GT-Sectra-Fine-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'gt_sectra_finebold';
    src: url('fonts/GT-Sectra-Fine-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: '205-maaxregular';
    src: url('fonts/205-maaxregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: '205-maaxblack';
    src: url('fonts/205-maaxblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maaxitalic';
    src: url('fonts/205-maaxregularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*  ----------------------------------------------------------------------------
    STYLE
*/

body{
    background-color: black !important;
        padding-top: 0 !important;
}

/*  -------------------------------
    MENU
*/

.menu-liste{
width:25%;
position: absolute;
top:0;
left:0;  
z-index:2;     
}
.menu-liste .container{
width: 100%;
padding: 10px 20px;
border-right: 4px solid white;
height: 95%;
background-color: black;
margin-top: 20px;     
}
.menu-liste .picto{
margin-top: 30px;
margin-left: 20px;
}
.menu-liste .picto-close{
display:none;
}
.picto img, .picto-close img{
width: 30px;
}
.menu-liste button{
background-color: transparent;
border: none;
}
.container span.bold{
font-family: '205-maaxblack'; 
font-size: 33px;  
-webkit-font-smoothing: antialiased;
letter-spacing: 0.01em;    
}
.container span.it{
font-family: 'maaxitalic'; 
font-size: 33px;  
-webkit-font-smoothing: antialiased;
letter-spacing: 0.01em;    
}
.container p{
margin-bottom: 30px;  
}
.container p a{
color: white;
}
.container ul{
margin-left: 0;
margin-top: 40px;   
}
.conteneur-logo-liste{
display: block;
height: 95%;
width: 70px;
top: 0;
left: 0;
position: absolute;
margin-top: 20px;
}
.conteneur-logo-player{
display: block;
height: 95%;
width: 70px;
top: 0;
left: 0;
position: absolute;
margin-top: 20px;
}
.logo img{
width: 32px;    
}
.logo{
display: block;
position: absolute;
top: 50%;
margin-top: -80px;  
margin-left: 25px;    
}


/*  --------------------------------
    TITRE
*/


.espace-titre{
display:block;
float:left;
margin-left:7%;
color: white;
width:230px; 
position: absolute;
top: 30px;    
}
.espace-titre h2{
font-family: 'gt_sectra_fineblack'; 
font-size: 36px; 
margin-top:0;    
}
.espace-titre p{
font-family: '205-maaxregular'; 
font-size: 13px;
line-height: 17px;   
}

/*  ---------------------------------
    TEXT VERSION
*/

.espace-text-version{
display:block;
    right: 0;
    top: 0;
color: white; 
    position: absolute;  
z-index: 2;  
width: 30%;    
}
.espace-text-version button{
    color: white;
    text-shadow: none;
    background: black;
    border: 1px solid white;
    padding: 0.5em 1em;
    font-family: '205-maaxblack';
    font-size: 15px;
    letter-spacing: 0.04em;   
}
.espace-text-version .container{
width: 100%;
padding: 10px 20px;
border-left: 1px solid white;
height: 90%;
background-color: black;
margin-top: 20px; 
overflow-y: scroll;    
}
.espace-text-version .picto{
margin-top: 30px;
margin-right: 57px; 
float: right;    
}
.espace-text-version .picto-close button{
background-color: transparent;
border: none;
    display: block;
    float: right;  
position: fixed;
    right: 20px; 
padding-top: 0;    
}
.espace-text-version .texte{
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px;
}
.espace-text-version .texte p{
font-family: 'gt_sectra_finemedium'; 
font-size: 33px; 
-webkit-font-smoothing: antialiased; 
line-height: 42px;   
margin-bottom: 80px;    
}


/*  ----------------------------------
    PLAYER
*/

.espace-player{
display:block;
    width: 100%;
    top: 50%;
    margin-top: -150px;
    position: absolute;
}
.player-cercle-conteneur{
    width: 300px;
    height: 300px;
    left: 50%;
    position: relative;
    margin-left: -150px !important;
}
.player-cercle-attente{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid white !important;
    left: 0;
    top:0;
    position: absolute;
-webkit-box-shadow: 0px 0px 250px 30px #ffffff;
-moz-box-shadow: 0px 0px 250px 30px #ffffff;
filter:progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=80);
zoom:1;
box-shadow: 0px 0px 250px 30px #ffffff;
}
/* pour IE9 et + ce hack ci-dessous peut être fait avec les commentaires conditionnels d'IE :
[if gte IE 9]*/
@media only screen{.player-cercle{filter: none;}} /*Ie9+*/
.player-cercle-attente2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid white !important;
    left: 0;
    top:0;
    position: absolute;
-webkit-box-shadow: 0px 0px 250px 30px #ffffff;
-moz-box-shadow: 0px 0px 250px 30px #ffffff;
filter:progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=80);
zoom:1;
box-shadow: 0px 0px 250px 30px #ffffff;
}
.bouton-play{
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -25px !important;
    margin-left: -20px !important;
}
.bouton-play img{
    width:60px;
    border: none !important;
    background-color: transparent !important;
    margin:0 !important;
}
button.navigate-right{
    background-image: url(img/fleche-next.png);
    background-size: 30px;
    width: 30px !important;
    height: 60px !important;
    border: none !important;
    margin-top: -30px;
}
button.navigate-left{
    background-image: url(img/fleche-prev.png);
    background-size: 30px;
    width: 30px !important;
    height: 60px !important;
    border: none !important;
    margin-top: -30px;
}

.timeline{
    bottom: 30px;
    left: 0;
    position: absolute;
    width: 100%;
}
.timeline p{
    color: white;
    font-family: '205-maaxblack';
    font-size: 15px;
    letter-spacing: 0.04em;
    margin-bottom: 0;
    position: absolute;
    margin-left: -22px;
    bottom: -5px;
}
p#jour1{
    left: 7%;
}
p#jour2{
    left: 50%;
}
p#jour3{
    left: 93%;
}



/*  -------------------------------
    FORME PLAYER ATTENTE / DEBUT
*/


.player-cercle-attente{
-webkit-animation-name: attente; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
-webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
-webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
animation-name: attente;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate;  
animation-timing-function: ease-in-out;  
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes attente {
    from {box-shadow: 0px 0px 250px 30px #ffffff;}
    to {box-shadow: 0px 0px 0px 0px #ffffff;}
}

/* Standard syntax */
@keyframes attente {
    from {box-shadow: 0px 0px 250px 30px #ffffff;}
    to {box-shadow: 0px 0px 0px 0px #ffffff;}
}
.player-cercle-debut{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid white !important;
    left: 0;
    top:0;
    position: absolute;
-webkit-box-shadow: 0px 0px 250px 30px #ffffff;
-moz-box-shadow: 0px 0px 250px 30px #ffffff;
filter:progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=80);
zoom:1;
box-shadow: 0px 0px 250px 30px #ffffff;
}


/*  -------------------------------
    PLAYER AUDIO CUSTOM
*/

.audioplayer.audioplayer-stopped .audioplayer-playpause{
    background-image: url('img/bouton-play.png');
    background-repeat: no-repeat;
    background-size: 55px;
    width: 55px;
    height: 55px;
    left: 50%;
    position: absolute;
    margin-left: -22px !important;
    top: 50%;
    margin-top: -22px !important;
    z-index: 2;
}
.audioplayer.audioplayer-playing .audioplayer-playpause{
      background-image: url('img/bouton-pause.png');
    background-repeat: no-repeat;
    background-size: 55px;
    width: 55px;
    height: 55px;
    left: 50%;
    position: absolute;
    margin-left: -22px !important;
    top: 50%;
    margin-top: -22px !important;
    z-index: 2;
}
.reveal .audioplayer-playpause a, .reveal .audioplayer-playpause a:hover{
    color: transparent;
}
.audioplayer-time.audioplayer-time-current, .audioplayer-time.audioplayer-time-duration, .audioplayer-volume{
    display:none;
}
.audioplayer{
    width:100%;
    height:100%;
}

/*  -------------------------------
    FORME PLAYER LECTURE
*/

.player-cercle-lecture{
display:none;    
top: 50%;
left: 50%;    
position: absolute;
margin-top:-150px;   
background-color: white; 
border-radius: 50%;    
    
-webkit-box-shadow: 0px 0px 150px 20px #ffffff,
                    inset 1px 1px 40px 10px #000000;
-moz-box-shadow: 0px 0px 150px 20px #ffffff,
                 inset 1px 1px 40px 10px #000000;
filter:progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=80),
       progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=20);
zoom:1;
box-shadow: 0px 0px 150px 20px #ffffff,
            inset 1px 1px 40px 10px #000000;    
    
border: 0 !important;    
-webkit-animation-name: lecture; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */    
animation-name: lecture;
animation-duration: 2s; 
animation-fill-mode: forwards;    
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes lecture {
    from {width: 0px; height: 0px; margin-left: 0px; margin-top: 0px;}
    to {width: 300px; height: 300px; margin-left: -150px; margin-top: -150px;}
}

/* Standard syntax */
@keyframes lecture {
    from {width: 0px; height: 0px; margin-left: 0px; margin-top: 0px;}
    to {width: 300px; height: 300px; margin-left: -150px; margin-top: -150px;}
}

/*  -------------------------------
    INTRO
*/


.intro {
    display: block;
}
.conteneur-titre, .conteneur-cercle, .conteneur-punchline, .conteneur-bouton-enter{
  width: 100%;
  display:block;
float:left;
}
.intro h1 {
font-family: 'gt_sectra_finebold';
font-size: 39px;
color: white;
text-align: center;
letter-spacing: 0.4em;
margin-top: 90px;
margin-bottom:0;    
}
.intro #cercle{
width: 250px;
height: 250px;    
left: 50%;    
position: relative;
margin-left: -125px;    
background-color: white; 
border-radius: 50%;        
-webkit-box-shadow: 0px 0px 250px 30px #ffffff;
-moz-box-shadow: 0px 0px 250px 30px #ffffff;
filter:progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=80);
zoom:1;
box-shadow: 0px 0px 250px 30px #ffffff;    
border: 0 !important;   
margin-top: 90px;    
}
.intro #punchline p{
font-family: '205-maaxregular';
font-size: 31px;
line-height: 41px;
color: white;
text-align: center;
-webkit-font-smoothing: antialiased; 
margin-top: 90px;    
}
.intro #bouton-enter{
    text-align: center;
    margin-top: 25px; 
}
.intro #bouton-enter a{
font-family: '205-maaxblack';
font-size: 20px;
line-height: 26px;
color: white;
text-align: center;
-webkit-font-smoothing: antialiased; 
margin-top: 40px; 
border: 1px solid white;
padding: 0.5em 1em;    
}

/*  -------------------------------
    LISTE
*/

.liste {
    display: block;
    margin-top:20px;
    height: 100%;
    position: absolute;
    width: 90%;
    margin-left: 70px;
    overflow: hidden;
}
#conteneur-amiens, #conteneur-lisbon, #conteneur-web{
  display:block;
float:left;
width:33.33%; 
border-right: 1px solid white;
padding-left: 40px;
padding-top: 80px;    
height:95%;    
}
#conteneur-amiens{
border-left: 1px solid white;   
}

.liste h1{
font-family: 'gt_sectra_fineblack';
font-size: 45px;
lineheight: 60px;    
color: white;
letter-spacing: 0.01em;
margin-top: 0;
margin-bottom:0;  
-webkit-font-smoothing: antialiased;   
margin-top: 20px;    
}
.liste p{
font-family: '205-maaxregular';
font-size: 18px;
line-height: 23px;
color: white;
-webkit-font-smoothing: antialiased;   
margin-top:30px;
min-height: 200px;    
}
.liste .bouton-enter{
margin-top: 0;
margin-bottom: 140px;    
}
.liste .bouton-enter a{
font-family: '205-maaxblack';
font-size: 20px;
line-height: 26px;
color: white;
text-align: center;
-webkit-font-smoothing: antialiased; 
margin-top: 40px; 
border: 1px solid white;
padding: 0.5em 1em;    
}

.picto-amiens img, .picto-lisbon img, .picto-web img{
    width: 40%;
}



/*  -------------------------------
    Web experience
*/

.coming-soon{
top: 50%;
left: 50%;
margin-left: -130px;
margin-top: -60px;
position: absolute;   
}
.coming-soon h2{
font-family: 'gt_sectra_fineblack'; 
font-size: 36px; 
line-height: 60px;    
text-align: center;  
color: white;
}
#audio1{
    width: 10px !important;
    height: 10px !important;
}

